<mat-toolbar    style="min-height: 10px !important; height: 50px !important;"  color="primary">
  <mat-toolbar-row>
    <span routerLink="home">Website Name</span>
    
    <span class="example-fill-remaining-space"></span>

    <span>Right Aligned Text</span>
  </mat-toolbar-row>

</mat-toolbar>


<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <span mat-menu-item routerLink="ComponentRelation">Parent-Child Component Example</span>
  <span mat-menu-item >5</span>
 
</mat-menu>

<router-outlet></router-outlet>